@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	text-align: center; /*先设置此样式（条件），再对要居中的做CSS样式：margin: 0 auto;*/
}

#head {
	margin: 0 auto;
	display: inline-block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	text-align: center;
}

#head .login {
	display: inline-block;
}

#head .login a {
	text-decoration: none;
	color: #9e9e9e;
	font-weight: normal;
	line-height: 50px;
	font-size: 12px;
}

#head .login a:hover {
	color: black;
	background: #f5f5f5;
}

#head .logo {
	float: left;
	width: 70px;
	text-align: left;
}

#head .title {
	display: inline-block;
	width: 660px;
	text-align: left;
	font-family: 楷体;
	font-size: 35px;
	line-height: 50px;
	font-weight: 500;
}

#myTitle:hover {
	cursor: pointer;
	color: #888888;
}
#nav {
	overflow: hidden;
	margin: 0 auto;
	border-top: 3px solid #cb0d0d;
	position: relative;
	background: #fff;
	border-bottom: 1px solid #d9d9d9;
	box-shadow: 0px 2px #f3f3f3;
	height: 43px;
}

#nav ul li {
	float: left;
	list-style: none;
}

#nav ul a {
	text-decoration: none;
	color: black;
	display: inline-block;
	line-height: 43px;
	margin-left: 0;
	width: 100px;
}

#nav ul {
	margin: 0;
	padding: 0;
}

#nav .detail {
	background-color:
}

#nav .navblock {
	margin: 0 auto; /*text-align: center;是必要条件*/
	display: inline-block; /*注意 block 是不可以居中的，它占据了整行！！！*/
	overflow: hidden; /*当给div设置背景颜色失败时，要考虑overflow*/
}

#nav .detail {
	background-color: #dc0000;
	color: white;
	border: 1px solid #dc0000;
	border-width: 0 1px;
}

#nav ul a:hover {
	background-color: #dc0000;
	color: white;
	border: 1px solid #dc0000;
	border-width: 0 1px;
}

#content {
	overflow: hidden;
	min-height: 41em;
	font-size: 20px;
}

input[type="text"] {
	width: 570px;
	height: 20px;
	margin: 0 auto;
	display: block;
}

input[type="submit"] {
	margin: 15px 0 0 0;
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px 15px;
	font-size: 16px;
	border-radius: 6px;
	cursor: pointer;
}

#content .textarea {
	width: 570px;
	resize: none;
	margin-top: 1px;
}

#content .hot {
	width: 82px;
	margin: 0 auto;
}

#content span {
	display: block;
	margin: 10px 0 10px 0;
}

#content a {
	text-decoration: none;
	color: black;
}

#content a:hover {
	color: #fff;
	font-size: 30px;
}

#content h4 {
	width: 350px;
	display: block;
	background-color: #66CDAA;
	height: 80px;
	line-height: 80px;
	margin: 0 auto;
	margin-top: 80px;
	border-radius: 15px;
}

#bottom {
	width: 100%;
	margin: 2px auto;
	background-color: #cccccc;
	font-weight: lighter;
	position:fixed;
    bottom:0;
    left:0;
}

#bottom .text {
	display: inline-block;
}

#textEdit{
	position:relative;
	width:50%;
	margin:auto;
}

.edui-editor-breadcrumb{
	display:none;
}
